<% provide(:title, '新規登録') %>

<div class="userCreate__form-container">
  <h1 class="userCreate__form-title">アカウントを新規登録</h1>
  <div class="userCreate__form-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="userCreate__form-group">
        <%= f.label :name, 'アカウント名' %>
        <%= f.text_field :name, autofocus: true, autocomplete: "username" %>
      </div>

      <div class="userCreate__form-group">
        <%= f.label :user_id, 'ユーザID' %>
        <%= f.text_field :user_id, autofocus: true, autocomplete: "user-id" %>
      </div>

      <div class="userCreate__form-group">
        <%= f.label :password, 'パスワード' %>
        <% if @minimum_password_length %>
          (<%= @minimum_password_length %>文字以上)
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="userCreate__form-group">
        <%= f.label :password_confirmation, 'パスワードの確認' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="userCreate__form-group_submit">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>
  </div>

  <h3 class="userCreate__form-title">その他</h3>
  <div class="userCreate__form-body">
    <%= render "devise/shared/links" %>
  </div>
</div>
