<% provide(:title, "プロフィール #{@user.name}") %>
<% provide(:aside_type, "none") %>
<% provide(:aside, "none") %>

<div class="user-container">
  <h1 class="user-title">ユーザ情報</h1>
  <div class="user__profile-container">
    <h3 class="user__profile-title">プロフィール</h3>
    <div class="user__profile-body">
      <%= image_tag @user.image.url, class: 'user__profile-img' %>
      <div class="user__profile-content">
        <div class="user__profile-name_container">
          <p class="user__profile-name"><%= @user.name %></p>
          <%= link_to  "プロフィールを変更", edit_user_registration_path, class: 'user__profile-name_link' %>
        </div>
        <p class="user__profile-howmany">応募した作品：<%= @photos.length %></p>
        <p class="user__profile-howmany">主催したコンテスト：<%= @contests.length %></p>
      </div>
    </div>
  </div>

  <div class="user__photos-container">
    <h3 class="user__photos-title">応募した作品</h3>
      <% if @photos.present? %>
        <%= will_paginate @photos, previous_label: ' &lt 前へ', next_label: '次へ &gt', param_name: 'page_photos' %>
        <ul class="user__photoslist-container">
          <%= render partial: 'photos/photo', collection: @photos %>
        </ul>
        <%= will_paginate @photos, previous_label: ' &lt 前へ', next_label: '次へ &gt', param_name: 'page_photos' %>
      <% else %>
        <ul class="user__photoslist-container">
          <p>作品を応募していません</p>
        </ul>
      <% end %>
    </ul>
  </div>

</div>
