<li class="contestlist__item-container">
  <div class="contestlist__item__header-container">
    <%= link_to contest.name, contest_path(contest), class: 'contestlist__item__header-title' %>
    <span class="contestlist__item__header-span"><%= link_to '作成者 ' + contest.user.name, user_path(contest.user) %></span>
    <span class="contestlist__item__header-badge">作品募集中</span>
  </div>
  <%= link_to contest_path(contest), class: 'contestlist__item__body-container' do %>
    <div class="contestlist__item__body-main">
      <p class="contestlist__item__body-main-p">募集期間：<%= print_date_with_wday(contest.entry_start_at) %> <i class="fas fa-caret-right"></i> <%= print_date_with_wday(contest.entry_end_at) %></p>
      <p class="contestlist__item__body-main-p">投票期間：<%= print_date_with_wday(contest.vote_start_at) %> <i class="fas fa-caret-right"></i> <%= print_date_with_wday(contest.vote_end_at) %></p>
      <p class="contestlist__item__body-main-p">応募者名の公開：<%= select_options[:visible_setting_for_user_name][contest.visible_setting_for_user_name][0] %></p>
    </div>
    <div class="contestlist__item__body-sub">
      <div class="contestlist__item__body-sub-p"><%= contest.excerpt_description(100) %></div>
    </div>
    <div class="arrow_more">more</div>
  <% end %>
</li>
