<li class="contests__item-container">
  <div class="contests__item__header-container">
    <%= link_to contest.name, contest_path(contest), class: 'contests__item__header-title' %>

    <% unless controller_name == 'registrations' && action_name == 'show' %>
      <%= link_to user_path(contest.user), class: 'contests__item__header-creater-link' do %>
        <p class="contests__item__header-creater-label"><%= t 'contests.item.creater' %></p>
        <%= image_tag contest.user.image.url, class: 'contests__item__header-creater-img' %>
        <p class="contests__item__header-creater-name"><%= contest.user.name %></p>
      <% end %>
    <% end %>

    <% badge_options = content_tag_options_for_contest_badge(contest, 'contests__item__header-badge') %>
    <%= content_tag(badge_options[:tag], badge_options[:content], badge_options[:options]) %>
  </div>

  <%= link_to contest_path(contest), class: 'contests__item__body-container' do %>
    <div class="contests__item__body-main">
      <p class="contests__item__body-main-p <%= 'need' if badge_options[:value] < 2 %>"><%= t 'contests.item.entry_period' %>：<%= print_datetime_with_wday(contest.entry_start_at) %> <i class="fas fa-caret-right"></i> <%= print_datetime_with_wday(contest.entry_end_at) %></p>
      <p class="contests__item__body-main-p <%= 'need' if badge_options[:value] >= 2 %>"><%= t 'contests.item.vote_period' %>：<%= print_datetime_with_wday(contest.vote_start_at) %> <i class="fas fa-caret-right"></i> <%= print_datetime_with_wday(contest.vote_end_at) %></p>
      <p class="contests__item__body-main-p"><%= t 'contests.item.visible_setting_for_user_name' %>：<%= t("contests.select.visible_setting_for_user_name.#{contest.visible_setting_for_user_name}") %></p>
    </div>
    <div class="contests__item__body-sub">
      <div class="contests__item__body-sub-p"><%= contest.excerpt_description(100) %></div>
    </div>
    <div class="arrow_more">more</div>
  <% end %>
</li>
