<li class='contestlist__item'>

  <div class="contestlist__item__infomation-container">
    <span class="contestlist__item__infomation-title">Infomation</span>
    <div class="contestlist__item__infomation-contents">

      <div class="contestlist__item__infomation-contents-container">
        <span class="contestlist__item__infomation-contents-title">Contents</span>
        <%= link_to contest_path(contest), class: 'contestlist__item__infomation-contents-wrapper' do %>
          <p class="contestlist__item__infomation-contents-name">コンテスト名：<%= contest.name %></p>
        <% end %>
      </div>

      <div class="contestlist__item__infomation-description-container">
        <span class="contestlist__item__infomation-description-title">Description</span>
        <div class="contestlist__item__infomation-description-wrapper">
          <p class='contestlist__item__infomation-description-host'>主催：<%= print_contest_creator(contest) %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="contestlist__item__links-container">
    <span class="contestlist__item__links-title">Links</span>
    <div class="contestlist__item__links-contents">
      <%= link_to new_contest_photo_path(contest), class: 'contestlist__item__links-link' do %>
        <i class="contestlist__item__links-link-icon fas fa-paper-plane"></i>
        <p class="contestlist__item__links-link-value">Submit</p>
      <% end %>
      <%= link_to contest_path(contest), class: 'contestlist__item__links-link' do %>
        <i class="contestlist__item__links-link-icon fas fa-vote-yea"></i>
        <p class="contestlist__item__links-link-value">Vote</p>
      <% end %>
      <%= link_to contest_path(contest), class: 'contestlist__item__links-link' do %>
        <i class="contestlist__item__links-link-icon fas fa-eye"></i>
        <p class="contestlist__item__links-link-value">View</p>
      <% end %>
    </div>
  </div>
</li>
