<% provide(:aside_type, 'flex') %>
<% content_for :aside do %>
  <% if user_signed_in? %>
    <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3>応募したコンテスト(応募順)</h3>
      </div>
      <div class="aside__item__body-container">
        <div class="aside__item__body-main">
          <h4 class="aside__item__body-title"></h4>
          <table class="aside__item__body-table">
            <thead>
              <tr>
                <th>投票終了日時</th>
                <th>コンテスト名</th>
              </tr>
            </thead>
            <% if @submited_contests.present? %>
              <tbody>
                <%= render partial: "shared/aside_table_contest", collection: @submited_contests, as: 'contest' %>
              </tbody>
            <% else %>
              <tbody>
                <tr><td>-</td><td>応募したコンテストはありません</tr></td>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </li>

    <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3>応募した作品(応募順)</h3>
      </div>
      <div class="aside__item__body-container">
        <div class="aside__item__body-main">
          <h4 class="aside__item__body-title"></h4>
          <table class="aside__item__body-table">
            <thead>
              <tr>
                <th>投票終了日時</th>
                <th>作品タイトル</th>
              </tr>
            </thead>
            <% if @submited_photos.present? %>
              <tbody>
                <%= render partial: "shared/aside_table_photo", collection: @submited_photos, as: 'photo' %>
              </tbody>
            <% else %>
              <tbody>
                <tr><td>-</td><td>提出した作品はありません</tr></td>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </li>
  <% else %>
    <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3>ログインしていません</h3>
      </div>
      <div class="aside__item__body-container">
        <div class="aside__item__body-main">
          <p class="contestlist__aside-p">下のリンクからログインまたは新規登録する。</p>
          <%= link_to '新規登録', new_user_registration_path, class: 'contestlist__aside-link' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'contestlist__aside-link' %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>

<div class="contestlist__header-container">
  <h2 class="contestlist__header-title">最新のコンテスト</h2>
  <%= link_to new_contest_path, class: 'contestlist__header-newlink' do %>
    <i class="contestlist__header-newlink-icon fas fa-plus-circle"></i>
    <p class="contestlist__header-newlink-value">新しいコンテストを作る</p>
  <% end %>
</div>

<div class="contestlist__body-container" id="contestlist__photolist-container">
  <%= render  "photos" %>
</div>
