<% provide(:aside_type, 'flex') %>
<% content_for :aside do %>
  <li class="aside__item-container">
    <div class="aside__item__header-container">
      <% if user_signed_in? %>
        <h3><%= current_user.name %>でログイン中</h3>
      <% else %>
        <h3>ログインしていません</h3>
      <% end %>
    </div>
    <div class="aside__item__body-container">
      <div class="aside__item__body-main">
        <% if user_signed_in? %>
          <h4 class="aside__item__body-title">応募したコンテスト</h4>
          <table class="aside__item__body-table">
            <thead>
              <tr>
                <th>投票終了日時</th>
                <th>コンテスト名</th>
              </tr>
            </thead>
            <% if @contests.present? %>
              <tbody>
                <%= render partial: "shared/aside_contest", collection: @contests, as: 'contest', locals: {labels: Contest.model_labels, select_options: Contest.select_options} %>
              </tbody>
            <% else %>
              応募したコンテストはありません
            <% end %>
          </table>


          </div>
        <% else %>
          <p class="contestlist__aside-p">下のリンクからログインまたは新規登録する。</p>
          <%= link_to '新規登録', new_user_registration_path, class: 'contestlist__aside-link' %>
          <%= link_to 'ログイン', new_user_session_path, class: 'contestlist__aside-link' %>
        <% end %>
      </div>
    </div>
  </li>
<% end %>

<div class="contestlist__header-container">
  <h2 class="contestlist__header-title">最新のコンテスト</h2>
  <%= link_to new_contest_path, class: 'contestlist__header-newlink' do %>
    <i class="contestlist__header-newlink-icon fas fa-plus-circle"></i>
    <p class="contestlist__header-newlink-value">新しいコンテストを作る</p>
  <% end %>
</div>

<%= will_paginate %>
<ul class="contestlist__body-listcontainer">
<% if @contests.present? %>
  <%= render @contests, labels: Contest.model_labels, select_options: Contest.select_options %>
<% else %>
  <p>コンテストが見つかりません。</p>
<% end %>
</ul>
<%= will_paginate %>
