<% provide(:aside_type, 'flex') %>
<% content_for :aside do %>
  <% if user_signed_in? %>
    <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3><%= t 'aside.title.photo_submited' %></h3>
      </div>
      <div class="aside__item__body-container">
        <div class="aside__item__body-main">
          <h4 class="aside__item__body-title"></h4>
          <table class="aside__item__body-table">
            <thead>
              <tr>
                <th><%= t 'aside.table.date_vote_end' %></th>
                <th><%= t 'aside.table.photo_title' %></th>
              </tr>
            </thead>
            <% if @submited_photos.present? %>
              <tbody>
                <%= render partial: "shared/aside_table_photo", collection: @submited_photos, as: 'photo' %>
              </tbody>
            <% else %>
              <tbody>
                <tr><td>-</td><td><%= t 'aside.table.no_photos' %></tr></td>
              </tbody>
            <% end %>
          </table>
        </div>
      </div>
    </li>
  <% else %>
    <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3><%= t 'aside.user.no_login' %></h3>
      </div>
      <div class="aside__item__body-container">
        <div class="aside__item__body-main">
          <p class="contestlist__aside-p"><%= t 'aside.user.guide_login_page' %></p>
          <%= link_to t('user.signup'), new_user_registration_path, class: 'contestlist__aside-link' %>
          <%= link_to t('user.login'), new_user_session_path, class: 'contestlist__aside-link' %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>

<div class="contestlist__header-container">
  <h2 class="contestlist__header-title"><%= t '.title' %></h2>
  <%= link_to new_contest_path, class: 'contestlist__header-newlink' do %>
    <i class="contestlist__header-newlink-icon fas fa-plus-circle"></i>
    <p class="contestlist__header-newlink-value"><%= t '.contest_create' %></p>
  <% end %>
</div>

<div class="contestlist__body-container">
  <%= render 'contests/tab_container' %>
</div>
