<h1>新しいコンテストを作成</h1>

<%= form_with model: @contest, url: contests_path, local: true do |f| %>
<%= render 'shared/error_messages', model: @contest %>

<%= f.label :name, 'コンテスト名' %>
<%= f.text_field :name, autocomplete: 'off' %><br>

<%= f.label :description, 'コンテストの説明' %>
<%= f.text_area :description, autocomplete: 'off' %><br>

<p>期間の設定</p>
<div>
  <% @select_options[0].each do |key, value| %>
    <%= f.label key, value[:label] %>
    <%= raw sprintf(f.datetime_select(value[:start][:obj],
                                      use_month_numbers: true,
                                      start_year: value[:start][:default_datetime],
                                      date_separator: '%s', datetime_separator: '%s'), '年', '月', '日') %>~
    <%= raw sprintf(f.datetime_select(value[:end][:obj],
                                      use_month_numbers: true,
                                      start_year: value[:end][:default_datetime],
                                      date_separator: '%s', datetime_separator: '%s'), '年', '月', '日') %>
  <% end %>
</div>

<p>公開範囲の設定</p>
<div>
  <% @select_options[1].each do |key, value| %>
    <%= f.label key, value[:label] %>
    <%= f.select key, value[:options], selected: value[:selected] %><br>
  <% end %>
</div>

<p>その他の設定</p>
<div>
  <%= f.label :voting_points, '投票者の持ち点' %>
  <%= f.number_field :voting_points, autocomplete: 'off', step: 1, min: -1, value: 3 %><br>
  <%= f.label :num_of_views_in_result, '上位者の表示人数' %>
  <%= f.number_field :num_of_views_in_result, autocomplete: 'off', step: 1, min: -1, value: 3 %><br>
  <% @select_options[2].each do |key, value| %>
    <%= f.label key, value[:label] %>
    <%= f.select key, value[:options], selected: value[:selected] %><br>
  <% end %>
</div>



<%= f.submit 'コンテスト作成' %>
<% end %>
