<%= render  "shared/error_messages", model: @vote %>
<h1>コンテスト名：<%= @contest.name %></h1>
<p>作成者：<%= print_contest_creator(@contest) %></p>
<%= link_to  "写真を投稿", new_contest_photo_path(@contest) %>
<%= link_to  "前のページに戻る", :back %>

<% if @photos %>
  <%= form_with model: @vote, url: contest_votes_path(contest_id: @contest), local: true do |f| %>

    <%= will_paginate @photos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>
    <div class="img_list">
      <%= render partial: 'photos/photo', collection: @photos, locals: { f: f } %>
    </div>
    <%= will_paginate @photos, :previous_label => ' &lt 前へ', :next_label => '次へ &gt' %>

    <h3>投票</h3>
    <%= f.submit %>
  <% end %>
  <%= link_to  "投票結果", contest_vote_path(@contest) %>

<% else %>
  <div>写真が投稿されていません</div>
<% end %>

<% if correct_user?(@contest.user) %>
  <div>
    <a class="js-modal-open" href="" data-target="modal__window">このコンテストを削除</a>
    <div id="modal__window" class="modal__window js-modal">
      <div class="modal__bg js-modal-close"></div>
      <div class="modal__content">

        <h3 class="modal__content-title">Alert</h3>
        <p class="modal__content-body">コンテスト名：<%= @contest.name %>を削除しますか？</p>
        <ul class="modal__icon-list">
          <li class="modal__icon-container">
            <%= link_to contest_path(@contest), method: :delete, class: 'modal__icon-yes-link' do %>
              <span class="modal__icon-yes-content"></span>
            <% end %>
          </li>
          <li class="modal__icon-container">
            <a class="js-modal-close modal__icon-no-link" href="">
              <span class="modal__icon-no-content"></span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
<% end %>
