<% provide(:title, @contest.name) %>
<% provide(:aside_type,'none')%>
<% provide(:aside,'none')%>
<div class="contest-container">

  <div class="contest__header-container">
    <div class="contest__header-content">
      <h1 class="contest__header-title"><%= @contest.name %></h1>
      <%= render 'contests/badge', contest: @contest %>
    </div>

    <div class="contest__header-links">
      <%= render 'contests/links', contest: @contest %>
    </div>
  </div>

  <h3 class="contest__info-title"><%= t '.info' %></h3>
  <div class="contest__info-container">
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.creater' %></p>
      <p class="contest__info-p"><%= link_to @contest.user.name, user_path(@contest.user) %></p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.description' %></p>
      <p class="contest__info-p"><%= @contest.description %></p>
    </div>
  </div>

  <h3 class="contest__info-title"><%= t '.period' %></h3>
  <div class="contest__info-container">
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.entry_period' %></p>
      <p class="contest__info-p"><%= @contest.entry_start_at.to_s(:datetime_jp) %> ～ <%= @contest.entry_end_at.to_s(:datetime_jp) %></p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.vote_period' %></p>
      <p class="contest__info-p"><%=  @contest.vote_start_at.to_s(:datetime_jp) %> ～ <%= @contest.vote_end_at.to_s(:datetime_jp) %></p>
    </div>
  </div>

  <h3 class="contest__info-title"><%= t '.vote_setting' %></h3>
  <div class="contest__info-container">
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.num_of_submit_limit' %></p>
      <p class="contest__info-p"><%= @contest.num_of_submit_limit %> つ</p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.voting_points' %></p>
      <p class="contest__info-p"><%= @contest.voting_points %> pt</p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.num_of_views_in_result' %></p>
      <p class="contest__info-p"><%= @contest.num_of_views_in_result %> 位まで</p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.visible_setting_for_user_name' %></p>
      <p class="contest__info-p"><%= t "contests.select.visible_setting_for_user_name.#{@contest.visible_setting_for_user_name}" %></p>
    </div>
  </div>

  <h3 class="contest__info-title"><%= t '.visible_range_setting' %></h3>
  <div class="contest__info-container">
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.visible_range_entry' %></p>
      <p class="contest__info-p"><%= t "contests.select.visible_setting_for_user_name.#{@contest.visible_range_entry}" %></p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.visible_range_vote' %></p>
      <p class="contest__info-p"><%= t "contests.select.visible_setting_for_user_name.#{@contest.visible_range_vote}" %></p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.visible_range_show' %></p>
      <p class="contest__info-p"><%= t "contests.select.visible_setting_for_user_name.#{@contest.visible_range_show}" %></p>
    </div>
    <div class="contest__info-group">
      <p class="contest__info-label"><%= t 'contests.item.visible_range_result' %></p>
      <p class="contest__info-p"><%= t "contests.select.visible_setting_for_user_name.#{@contest.visible_range_result}" %></p>
    </div>
  </div>

  <% if correct_user?(@contest.user) %>
    <h3 class="contest__info-title"><%= t '.admin_area' %></h3>
    <div class="contest__info-container">
      <div class="contest__info-group">
        <%= render partial: 'copy_url', collection: @urls, as: 'url' %>
      </div>
      <div class="contest__info-group">
        <p class="contest__info-label">コンテストの設定</p>
        <p class="contest__info-p">
          <%= link_to  "[管理画面]", admin_path(@contest) %>
          <%= link_to  "[コンテストを編集]", edit_contest_path(@contest) %>
          <%= render 'shared/modal_form', link_message: '[このコンテストを削除]', modal_message: "コンテスト名：#{@contest.name}を削除しますか？", link: contest_path(@contest), method: 'delete' %>
        </p>
      </div>
    </div>
  <% end %>
</div>
