<% provide(:title, "#{@contest.name}の管理画面[作品]") %>

<% provide(:aside_type, "flex") %>
<% content_for :aside do %>
  <li class="aside__item-container">
    <div class="aside__item__header-container">
      <h3>コンテストの情報</h3>
    </div>
    <div class="aside__item__body-container">
      <input type="hidden" name="<%= @contest.voting_points %>" id="voting_points">
      <div class="photos__aside__vote-container">
        <div class="aside__item__body-group">
          <p class="aside__item__body-label">応募期間</p>
          <p class="aside__item__body-p">><%= @contest.entry_start_at.to_s(:datetime_jp) %> ～ <%= @contest.entry_end_at.to_s(:datetime_jp) %></p>
        </div>
        <div class="aside__item__body-group">
          <p class="aside__item__body-label">投票期間</p>
          <p class="aside__item__body-p"><%=  @contest.vote_start_at.to_s(:datetime_jp) %> ～ <%= @contest.vote_end_at.to_s(:datetime_jp) %></p>
        </div>
        <div class="aside__item__body-group">
          <p class="aside__item__body-label">作品応募数</p>
          <p class="aside__item__body-p"><%= @photos.size %></p>
        </div>

        <% if @contest.is_in_period_voting? %>
          <div class="aside__item__body-group">
            <p class="aside__item__body-label">投票人数</p>
            <p class="aside__item__body-p"><%= @votes.size %></p>
          </div>
        <% end %>
      </div>
    </div>
  </li>
<% end %>

<div class="admin-container">
  <h1 class="admin-title"><%= @contest.name %>の管理画面</h1>
  <div class="admin__body-container">

    <h3 class="admin__body-title">作品一覧</h3>
    <% if @photos.present? %>
      <ul class="admin__body-img_container">
        <%= render partial: 'photo', collection: @photos %>
      </ul>
    <% else %>
      <div class="admin__body-no_image">作品が投稿されていません</div>
    <% end %>
  </div>
</div>
