<div id="modal_photo_<%= photo.id %>" class="modal__photo__window">
  <div class="modal__photo__bg js-modal-close" data-target="<%= "modal_photo_#{photo.id}" %>"></div>
  <div class="modal__photo__content">
    <div class="modal__photo-grid">

      <div class="modal__photo__title-container">
        <%= link_to photo.name, path_for_photo(photo), class: 'modal__photo__title-content' %>
      </div>

      <div class="modal__photo__links-container">
        <% if controller.controller_name == 'admin' %>
          <%= render 'shared/modal_form', link_message: '[この作品を削除]', modal_message: "作品名：#{photo.name}を削除しますか？※除外ではなく削除です", link: admin_photo_path(@contest, photo), method: 'delete' %>
        <% end %>
        <div class="modal__photo__links-icon_container js-modal-close" data-target="<%= "modal_photo_#{photo.id}" %>">
          <i class="fas fa-times modal__photo__links-icon_close"></i>
        </div>
      </div>

      <div class="modal__photo__body-container">
        <div class="modal__photo__body-img_container">
          <%= image_tag photo.image.url, class: 'modal__photo__body-img_image' %>
        </div>
      </div>

      <div class="modal__photo__info-container">
        <div class="modal__photo__info-group work">
          <div class="modal__photo__info-wrapper">
            <p class="modal__photo__info-p">タイトル：<%= photo.name %></p>
            <p class="modal__photo__info-p">説明：<%= photo.description %></p>
          </div>
        </div>

        <% if controller.controller_name == 'admin' || photo.contest.is_after_period_voting? %>
        <div class="modal__photo__info-group photo">
          <div class="modal__photo__info-wrapper">
            <% if controller.controller_name == 'admin' || (controller.controller_name == 'votes' && [0, 1].include?(photo.contest.visible_setting_for_user_name)) || (controller.controller_name == 'photos' && [1].include?(photo.contest.visible_setting_for_user_name)) %>
              <p class="modal__photo__info-p">作者：<%= photo.user.name %></p>
            <% end %>
            <p class="modal__photo__info-p">カメラ：<%= photo.camera %></p>
            <p class="modal__photo__info-p">レンズ：<%= photo.lens %></p>
            <p class="modal__photo__info-p">ISO：<%= photo.iso %></p>
            <p class="modal__photo__info-p">F値：<%= photo.aperture %></p>
            <p class="modal__photo__info-p">シャッター速度：<%= photo.shutter_speed %></p>
          </div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
