<% provide(:title, 'ログインページ') %>
<h1 class="session-title">ログイン</h1>

<div class="session__form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :user_id, 'ユーザID', class: 'form-label' %>
      <%= f.text_field :user_id, autofocus: true, autocomplete: "user_id" %>
    </div>

    <div class="form-group">
      <%= f.label :password, 'パスワード', class: 'form-label' %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>


    <% if devise_mapping.rememberable? %>
      <div class="session__remember_me-container">
        <%= f.check_box :remember_me, class: 'session__remember_me-input' %>
        <%= f.label :remember_me, class: 'session__remember_me-label' %>
      </div>
    <% end %>

    <%= f.submit "ログインする" %>
  <% end %>
</div>
