<li class="photolist__item-container">
  <div class="photolist__item-img_square">
    <div class="photolist__item-img_container">
      <%= link_to path_for_photo(photo), class: 'photolist__item-img_link' do %>
        <%= image_tag photo.image.url, class: 'photolist__item-img_image' %>
      <% end %>
    </div>
  </div>

  <% if defined? f %>
    <div class="photolist__item-info_container">
      <%= link_to  photo.name, path_for_photo(photo), class: 'photolist__item-info_name' %>
      <%= f.number_field "vote[#{photo.id}]", step: 1, min: 0, max: contest.voting_points, autocomplete: 'off', class: 'photolist__item-vote_input' %>
    </div>
  <% else %>
    <div class="photolist__item-info_container">
      <%= link_to  photo.name, path_for_photo(photo), class: 'photolist__item-info_name_fill' %>
    </div>
  <% end %>
</li>
