<li class="photolist__item-container">
  <div class="photolist__item-img_square">
    <div class="photolist__item-img_container">
      <a href="" class="photolist__item-img_link js-modal-open" data-target="<%= "modal_photo_#{photo.id}" %>">
        <%= image_tag photo.image.url, class: 'photolist__item-img_image' %>
      </a>
    </div>
  </div>

  <% if defined? f %>
    <div class="photolist__item-info_container">
      <%= link_to  photo.name, '', class: 'photolist__item-info_name js-modal-open', data: {target: "modal_photo_#{photo.id}"} %>
      <%= f.number_field "vote[#{photo.id}]", step: 1, min: 0, max: contest.voting_points, autocomplete: 'off', class: 'photolist__item-vote_input', id: photo.id %>
    </div>
  <% else %>
    <div class="photolist__item-info_container">
      <%= link_to  photo.name, '', class: 'photolist__item-info_name_fill js-modal-open', data: {target: "modal_photo_#{photo.id}"} %>
    </div>
  <% end %>
</li>
<%= render 'shared/modal_photo', photo: photo %>
