<div><%= p @debug1 %></div>
================
<div><%= p @debug2 %></div>
================
<div><%= p @debug3.id %></div>
<div><%= p @debug4 %></div>
================
<%= image_tag @debug4 %>
================
<div><%= p @debug5.id %></div>
<div><%= p @debug6 %></div>
================
<%= image_tag @debug6 %>
