<div><%= p @debug1 %></div>
================
<div><%= p @debug2 %></div>
================
<div><%= p @debug3 %></div>
<div><%= p @debug5.id %></div>
================
<%= image_tag @debug3 %>
================
<div><%= p @debug4 %></div>
<div><%= p @debug6.id %></div>
================
<%= image_tag @debug4 %>
