<% provide(:title, "作品一覧 #{@contest.name}") %>

<% if @contest.is_in_period_voting? %>
  <% provide(:aside_type, "fixed") %>
  <% content_for :aside do %>
    <li class="aside__item-container">
      <div class="aside__item__header-container">
        <h3>投票</h3>
      </div>
      <div class="aside__item__body-container">
        <input type="hidden" name="<%= @contest.voting_points %>" id="voting_points">
        <div class="photos__aside__vote-container">
          <div class="photos__aside__vote__points-container">
            <p class="photos__aside__vote__points-label">持ち点</p>
            <span class="photos__aside__vote__points-value" id="now-voting-points"><%= @contest.voting_points %></span>
            <p class="photos__aside__vote__points-unit">pt</p>
          </div>
          <%= submit_tag '投票する', class: 'photos__aside__vote-submit', id: 'vote-submit', form: 'photos__body-form' %>
        </div>
      </div>
    </li>
  <% end %>
<% end %>

<div class="photos-container">
  <h2 class="photos-title"><%= @contest.name %></h2>
  <div class="photos__body-container">
    <h1 class="photos__body-title">作品一覧</h1>
    <% if @photos.present? %>
      <% if @contest.is_in_period_voting? %>
        <%= form_with model: @vote, url: contest_votes_path(contest_id: @contest), local: true, id: 'photos__body-form' do |f| %>
          <ul class="photos__body-img_container">
            <%= render partial: 'photos/photo', collection: @photos, locals: { f: f, contest: @contest } %>
          </ul>
        <% end %>

      <% elsif @contest.is_after_period_voting? %>
        <ul class="photos__body-img_container">
          <%= render partial: 'photos/photo', collection: @photos %>
        </ul>

        <h3 class="photos__body-title">その他</h3>
        <div class="photos__body-link_container">
          <%= link_to  "投票結果", contest_votes_path(@contest), class: 'photos__body-link' %>
        </div>
      <% end %>

    <% else %>
      <div class="photos__body-no_image">作品が投稿されていません</div>
    <% end %>
  </div>
</div>
