<% if @photos.present? %>
  <% if @contest.is_in_period_voting? %>

    <%= form_with model: @vote, url: contest_votes_path(contest_id: @contest), local: true do |f| %>
      <div class="img_list">
        <%= render partial: 'photos/photo', collection: @photos, locals: { f: f } %>
      </div>
      <h3>投票</h3>
      <%= f.submit %>
    <% end %>

  <% else %>

    <div class="img_list">
      <%= render partial: 'photos/photo', collection: @photos %>
    </div>
    <%= link_to  "投票結果", contest_votes_path(@contest) %>

  <% end %>

<% else %>
  <div>作品が投稿されていません</div>
<% end %>
