<header class="header-container">
  <nav class="header__nav-container">
    <ul class="header__nav-ul">
      <li class="header__nav-li"><%= link_to  "PhotoContest", root_path, class: 'header__nav-title' %></li>
      <% if user_signed_in? %>
        <li class="header__nav-li">
          <%= render 'layouts/header_accordion' %>
        </li>
      <% else %>
        <li class="header__nav-li">
          <div class="header__nav-li_container">
            <%= link_to 'このアプリについて', aboutus_path, class: 'header__nav-li-item inactive-mobile' %>
            <%= link_to '新規登録', new_user_registration_path, class: 'header__nav-li-item' %>
            <%= link_to 'ログイン', new_user_session_path, class: 'header__nav-li-item' %>
          </div>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
